{
  "bot": {
    "token": "YOUR_TELEGRAM_BOT_TOKEN_HERE"
  },
  "fsm": {
    "type": "default"
  },
  "database": {
    "db": "sqlite+aiosqlite:///db.sqlite3"
  },
  "locales": {
    "locales": [
      "en",
      "ru"
    ],
    "default_locale": "en"
  }
}