bot:
  token: "BOT_TOKEN"
  admins: []
  use_webhook: false
  webhook_url: ""
  webhook_path: "/webhook"

database:
  db: "sqlite+aiosqlite:///./db.sqlite3"
  echo: false
  pool_size: 20
  max_overflow: 30

fsm:
  type: "memory"  # memory | redis
  redis_url: "redis://localhost:6379/0"

locales:
  default_locale: "ru"
  locales: ["ru", "en"]

logging:
  level: "INFO"
  write_to_files: true
  rotation: "10 MB"
  retention: "30 days"

redis:
  url: "redis://localhost:6379/0"
  use_redis: true